body {
    background-image: url("/static/images/books.jpeg");
    font-family: "Open Sans", sans-serif;
    margin: 0;
    color:white;
}

.background-header {
    background-color: transparent;
}

header {
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
    
}

form {
    text-align: center;
}

input,button {
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid black;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

input{
    color: wheat;
}


input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

input#title, input#author, input#pages{
    text-align: center;
}

button {
    display: inline-block;
    margin-top: 50px;
    font-size: 25px;
}

button:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.submit {
    color: white;
    border: 3px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#view-catalog-button, #add-new-book{
    color: white;
    border: 3px solid black;
}


/* styling for catalog.html */
#book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.book-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(0,0,0,0.6);
    padding: 10pxx;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 25px;
}

.book-details{
    flex-grow: 1;
}

.book-details h3 {
    margin: 0;
    font-size: 24px;
}

.book-actions{
    display: flex;
    gap: 10px;
}

.book-credentials {
    align-items: center;
}

.select-button, .delete-button {
    color: white;
    border-radius: 20px;
}